@model Onyx.IdP.Web.Features.Auth.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_AuthLayout";
    ViewData["AuthCardClass"] = "auth-card-sm";
}

<div class="auth-header">
    <h1 class="auth-title">Reset Password</h1>
    <p class="auth-subtitle">Enter your new password.</p>
</div>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>
    <input asp-for="Token" type="hidden" />
    <input asp-for="Email" type="hidden" />
    <div class="form-group">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary w-100">Reset</button>
    </div>
</form>
